.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.recipes__video-item {
  width: 480px;
}

.recipes__iframe {
  width: 100%;
  height: 270px;
  display: block;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 273px;
}
