.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recipes__title {
  margin: 0 0 24px;
}

.recipes__subtitle {
  margin: 0 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
}
.recipes__video-item {
  width: 480px;
}

.recipes__iframe {
  width: 100%;
  height: 270px;
  display: block;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url(../images/images/background_reservation.svg);
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}
